<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <form action="/upload2" method="post" enctype="multipart/form-data" target="fileIframe">
      用户名：<input type="text" name="username"><br>
      文件1：<input type="file" name="myFile"><br>
      <input type="submit" value="提交">
  </form>

  <img id="avatarImg" src="/avatar/1">

<iframe id="fileIframe" name="fileIframe" >

</iframe>

  <script src="/static/js/jquery.min.js"></script>

<script>
    function reloadAvatar() {
        alert('reload');
        $('#avatarImg').attr('src', '/avatar/1?' + new Date().getTime());
    }
</script>
</body>
</html>